body{
    background-color:#545454;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
table{
    align-items: center;
    background-image: radial-gradient(#ff0000,#cd2727,#9e3f3f,#643f3f,#3b3030,black);
    border-color:#1f899a ;
}
#dia{
    color:#1f899a
}